<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FDCE580C38998DB40E2D96C8AE70E5AA7B32E8C9</string>
				<key>dateExpires</key>
				<string>26/10/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>849744444Y.com.jaimerodela.dondecomer</string>
				<key>com.apple.developer.team-identifier</key>
				<string>849744444Y</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>849744444Y.com.jaimerodela.dondecomer</string>
				</array>
			</dict>
			<key>name</key>
			<string>Donde Comer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>221b9da2-48d9-4d4e-acd2-a5be9b35e434</string>
				<key>name</key>
				<string>Donde Comer Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>849744444Y</string>
				<key>name</key>
				<string>Jaime Ivan Iniguez</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
